/*Nav bar styling*/
.navbar {
  border-radius: 0;
}
.user-info {
  color: rgba(255, 255, 255, .5);
  padding: 5px 10px;
  border-left: 1px solid #ddd;
}

.link {
  cursor: pointer;
}
#container{
  margin: 1rem 0;
}

/*Tab styling*/
.tab-content {
    min-height: 500px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-style: none solid solid;
}
.tab-pane {
  padding: 10px;
}

.nav-tabs .nav-link.active {
  background: #fafafa;
}

.nav-item .close {
  margin: -2px 0 0 5px;
  outline: none;
}
.nav-item:hover .close {

}
.add {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  margin: 5px 10px;
}

.add:focus, .add:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  outline: none;
}


/*Modal styles*/
#libraryModal .modal-body {
  min-height: 400px;
}
#libraryModal .modal-dialog {
  min-width: 80%;
}

.search-types {
  border-right: 1px solid #eee;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 150px;
  left: 0;
  padding-left: 0;

}
.search-types > li {
  line-height: 14px;
  padding: 1px 0;
  cursor: pointer;
}
.search-types > li.selected a {
  border-left-color: #0275d8;
  color: #0275d8;
  font-weight: bold;
}
.search-types > li:not(.selected):hover {
  background-color: #eee;
}


.search-types > li a {
  border-left: 5px solid transparent;
  color: #333;
  display: block;
  font-weight: normal;
  padding: 7px 0 7px 15px;
  text-decoration: none;
}
.modal-body-inner {
    padding-left: 150px;
}
